body {
    background-color: #E5E5E5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Parte superior - Barra fixa*/
header {
    background-color: rgba(207, 43, 43, 1);
    box-shadow: 0px 4px 4px 0px rgb(195, 195, 195);
    height: 92px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header h1 {
    font-family: "Righteous";
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -0.012em;
    padding: 8px 21px 0;
    color: rgba(255, 255, 255, 1);
}

header h2 {
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    padding-left: 21px;
    margin-top: -5px;
    color: rgba(255, 255, 255, 1);
}

/*Início - Conteúdo Principal*/
main {
    margin-top: 123px;
    width: 100%;
    height: calc(207vh - 120px);
}

main h3 {
    font-family: "Righteous";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    padding: 0 21px 17px;
}

/*Reunião das opções do menu*/
.caixa__menu {
    display: flex;
    overflow-x: scroll;
    padding: 0 19px 27px 0;
    margin-bottom: 27px;

}

.caixa__menu ion-icon {
    color: white;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;

}

/*Menu individual (por item) */
.caixa__menu .selecionado {
    border: 6px solid #32B72F;
    box-shadow: 0px 4px 4px 0px rgb(180, 180, 180);
}

.caixa__menu .selecionado ion-icon {
    color: white;
    background-color: #32B72F;
    border-radius: 50%;
    font-size: 16px;
}

.caixa__menu .selecionado2 {
    border: 6px solid #32B72F;
    box-shadow: 0px 4px 4px 0px rgb(180, 180, 180);
}

.caixa__menu .selecionado2 ion-icon {
    color: white;
    background-color: #32B72F;
    border-radius: 50%;
    font-size: 16px;
}

.caixa__menu .selecionado3 {
    border: 6px solid #32B72F;
    box-shadow: 0px 4px 4px 0px rgb(180, 180, 180);
}

.caixa__menu .selecionado3 ion-icon {
    color: white;
    background-color: #32B72F;
    border-radius: 50%;
    font-size: 16px;
}

.opcoes_menu {
    background-color: rgba(255, 255, 255, 1);
    width: 172px;
    height: 216px;
    border-radius: 9px;
    margin-left: 16px;
    border: 6px solid rgba(255, 255, 255, 1);
}

.opcoes_menu .imagem__menu {
    width: 144px;
    height: 87px;
    margin: 10px 8px;
    border-radius: 4px;
}

.opcoes_menu strong p {
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    text-align: justify;
    font-weight: 700;
    line-height: 19px;
    padding: 0 9px 0;
    color: rgba(51, 51, 51, 1);
}

.opcoes_menu small p {
    font-family: "Roboto";
    font-size: 15px;
    font-style: normal;
    text-align: left;
    font-weight: 300;
    line-height: 18px;
    padding: 4px 9px 0;
    color: rgba(166, 166, 166, 1);
}

.parteinferior__opcoesmenu {
    width: 142px;
    height: 10%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 7px 11px 13px;


}

.parteinferior__opcoesmenu p {
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}


/*Parte inferior - Barra fixa*/
footer {
    background-color: #FFFFFF;
    height: 92px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}

/*Enquadramento do Botão de submeter o pedido*/
#submeter__pedido {
    height: 92px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/*Botão de submeter o pedido*/
footer #envio__pedido {
    padding: 3px 40px;
    width: 100%;
    height: 65%;
    background-color: #CBCBCB;
    border: 2px solid #CBCBCB;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;

}